body {
background-image: url("../images/bg.jpg");
 background-repeat: no-repeat;
 background-attachment: absolute;
    background-position: 50% 50%;
background-width:100%;
    background-color: #F9F4DE;
min-width: 300px;
}
.logo
{
width:300px;
position: relative;
top:20px;

}
.login{font-family:arial;padding:90px 0 0 0}.login .logo{display:block;border-radius: 10px;margin:0 auto 30px}.login a,.login a:visited{text-decoration:underline;color:inherit}ul.notice{margin:30px auto;width:300px;text-align:center;list-style-position:inside;font-size:15px;padding:20px 30px;border-radius:3px}ul.notice.errors{background-color:#fff4f4;border:1px solid #f50909;color:#f50909}ul.notice.success{background-color:#d7eacd;border:1px solid #6fae4f;color:#6fae4f}ul.notice li{padding:5px 0}.vertical-form{margin:0 auto}.vertical-form legend{width:100%;font-size:24px;font-weight:500;text-align:center;margin:0 0 30px 0}.vertical-form input[type='text'],.vertical-form input[type='password'],.vertical-form input[type='number']{border:1px #B5B6BA solid;color:#c1c1c1;background:#ffffff;opacity: 0.9;
    filter: alpha(opacity=95);
height:60px;font-size:18px}.vertical-form input[type='text'],.vertical-form input[type='password'],.vertical-form input[type='submit'],.vertical-form input[type='number']{display:block;margin:0 auto 1px auto;width:300px;text-align:center;border-radius:10px;color:#484aa7;outline:none;font-family:inherit}.vertical-form input[type='submit']{color:#fff;background:#484aa7;opacity: 0.9;
    filter: alpha(opacity=95);border:none;height:60px;width:300px;font-size:15px;font-weight:400;outline:0;text-transform:uppercase;letter-spacing:1.5px;cursor:pointer}.vertical-form input:hover[type='submit']{background-color:#5d5fbd;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease}.vertical-form .footer{text-align:center}.vertical-form .footer p:first-child{color:#222}.vertical-form .footer a:first-child{border-bottom:solid 1px #ccc;text-decoration:none}.vertical-form .footer p:nth-child(2) a{border-bottom:solid 1px #000} @media (max-width:0px){.login{padding:10px 0 0 0}}

@font-face {
  font-family: "Mona Sans";
  src: url("https://assets.codepen.io/64/Mona-Sans.woff2")
      format("woff2 supports variations"),
    url("https://assets.codepen.io/64/Mona-Sans.woff2")
      format("woff2-variations");
  font-weight: 100 1000;
}

@layer properties {
  @property --checkbox-color-hue {
    syntax:'<number>';
    inherits: true;
    initial-value: 0;
  }
  @property --checkbox-color-saturation {
    syntax:'<number>';
    inherits: true;
    initial-value: 0;
  }
  @property --checkbox-color-lightness {
    syntax:'<number>';
    inherits: true;
    initial-value: 0;
  }
  @property --checkbox-color-light-lightness {
     syntax:'<number>';
    inherits: true;
    initial-value: 0;   
  }
  @property --icon-opacity {
     syntax:'<number>';
    inherits: true;
    initial-value: 0;   
  }
  @property --icon-invert {
     syntax:'<number>';
    inherits: true;
    initial-value: 0;   
  }
  @property --icon-size {
     syntax:'<number>';
    inherits: true;
    initial-value: 0;   
  }
  @property --negative-shadow-offset {
     syntax:'<number>';
    inherits: true;
    initial-value: 0;   
  }
  @property --text-opacity {
     syntax:'<number>';
    inherits: true;
    initial-value: 0;   
  }
}

:root {
  /* -- Colors: */
  --body-bg-color: hsl(221deg 16% 12%);
  --checkbox-color-hue: 216;
  --checkbox-color-saturation: 17;
  --checkbox-color-lightness: 15; 
  --checkbox-color: hsl(
      calc(var(--checkbox-color-hue) * 1deg) /**/
      calc(var(--checkbox-color-saturation) * 1%) /**/
      calc(var(--checkbox-color-lightness) * 1%) /**/
  );
  --checkbox-color-light: rgba(255 255 255 / 32%);
  --checkbox-color-dark: rgba(0 0 0 / 45%);

  /* -- Box */
  --checkbox-border-radius: 24%;
  --checkbox-width: 25;
  --checkbox-height: 25;

  --text-opacity: 0.6;
  
  --negative-shadow-offset: 500;
  --active-shadow-opacity: 0;
  
  /* -- icon */
  --icon-check: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' class='feather feather-check'%3E%3Cpath d='M20 6 9 17l-5-5'/%3E%3C/svg%3E");
  --icon-opacity: 0;
  --icon-size: 1;
  
  /* -- easing */
  --cubic-bezier: cubic-bezier(0.6, -1.2, 0.2, 2.2);

  /* -- misc */
  --debug: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  /* debug */
  outline: calc(var(--debug) * 1px) dashed red;
}


html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  place-items: center;
  font-family: "Mona Sans", sans-serif;
}

.container { 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
  align-items: start;
  grid-gap: .8em;
  margin-left: 45px;
  transform: scale(1)
}

label[for*="checkbox"] {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
  
  /* text settings */
  color: rgba(0 0 0 / var(--text-opacity));
  font-size: 1em;
  letter-spacing: .1em;
  font-weight: 400;
  
  transition: --text-opacity .2s ease;
  
  &:hover {
    --text-opacity: 1;
     &:after {
      --icon-opacity: .50;
      --icon-invert: 100;
      --icon-size: 0.8;
     }
     
     input[type="checkbox"] {  
       --checkbox-color-hue: 216;
       --checkbox-color-saturation: 14;
      --checkbox-color-lightness: 18;
      --checkbox-color: hsl(
        calc(var(--checkbox-color-hue) * 1deg) 
        calc(var(--checkbox-color-saturation) * 1%) 
        calc(var(--checkbox-color-lightness) * 1%) 
      );
    }
  }
  


  /* label:after */
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: calc(var(--checkbox-width) * 1px);
    height: calc(var(--checkbox-height) * 1px);
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    border-radius: var(--checkbox-border-radius);
    pointer-events: none;
    background-image: var(--icon-check);
    filter: invert(100%);
    opacity: var(--icon-opacity);
    transform: scale(var(--icon-size));
    
    /* here I couldn't animate --icon-invert */
    transition: opacity .3s ease, filter .3s ease, transform .3s var(--cubic-bezier); 
    
  }

  &:has(input[type="checkbox"]:checked) {
    &:after {
      --icon-opacity: 1;
      // For a reason, this wasn't possible using Scss
      // If anyone wants to break their teeth on it
      // type this in sassmeister.com
      /* 
      div {
        filter: invert(calc(var(--icon-invert) * 1%));
      }
      */
      filter: invert(0%);
      
    }
  }

  /* label input[type="checkbox"] */
  & input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    margin: 0;
    background: var(--checkbox-color);
    width: calc(var(--checkbox-width) * 1px);
    height: calc(var(--checkbox-height) * 1px);
    border: calc(calc(var(--checkbox-width) / 15) * 1px) solid black;
    border-radius: var(--checkbox-border-radius);
    box-shadow:inset 0 0 calc(calc(var(--checkbox-width) / 10) * 1px) rgba(0 0 0 / calc(var(--active-shadow-opacity))), 
        inset 0 
        calc(calc(var(--checkbox-width) / 20) * 1px)
        calc(calc(var(--checkbox-width) / 30) * 1px) 
        calc(calc(var(--checkbox-width) / var(--negative-shadow-offset)) * -1px)
      
      var(--checkbox-color-light),
      inset 0 calc(calc(var(--checkbox-width) / 20) * -1px)
        calc(calc(var(--checkbox-width) / 15) * 1px) calc(calc(var(--checkbox-width) / var(--negative-shadow-offset)) * -1px) var(--checkbox-color-dark);
    transition: --checkbox-color-hue .1s ease,
                --checkbox-color-saturation .1s ease,
                --checkbox-color-lightness .1s ease,
                --checkbox-color 0s ease,
                --negative-shadow-offset .2s ease;
    
    
    
    &:active,
    &:checked {
      --checkbox-color-hue: 264; 
      --checkbox-color-saturation: 56; 
      --checkbox-color-lightness: 49; 
      --checkbox-color: hsl(
        calc(var(--checkbox-color-hue) * 1deg) /**/
        calc(var(--checkbox-color-saturation) * 1%) /**/
        calc(var(--checkbox-color-lightness) * 1%) /**/
      );
    }
    
    &:checked {
        --checkbox-color-hue: 265;
        --checkbox-color-saturation: 80;
        --checkbox-color-lightness: 61;
        --checkbox-color: hsl(
          calc(var(--checkbox-color-hue) * 1deg) 
          calc(var(--checkbox-color-saturation) * 1%) 
          calc(var(--checkbox-color-lightness) * 1%) 
        );
     }    
  }
  
  
  &:active {
    --active-shadow-opacity: 0.8;
    &:after {
      --icon-size: 0.7;
    }
    
    & input[type="checkbox"] {
      --negative-shadow-offset: 0;
    }
  }
}